<!DOCTYPE HTML>
<html>

<head>
    <title>To Do List</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/todo.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script language="JavaScript" type="text/javascript" src="static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/todo.js" type="text/javascript"></script>
    <script> window.onload = loadElements; </script>
</head>

<body>
    <div id="myDIV" class="header">
        <h2>My To Do List</h2>
        <form method="POST" action="{{ url_for('add_task') }}">
<!--            <label for="myInput">Enter a new task!</label>-->
            <input name="newTask" type="text" id="myInput" placeholder="To do item...">
            <button type="submit" onclick="newElement()" class="addBtn">Add</button>
        </form>
    </div>

    <ul id="myUL">
        {% for t in tasks %}
            {% if t.checked==true %}
                <li class="checked">{{t.task}}</li>
            {% else %}
                <li>{{t.task}}</li>
            {% endif %}
        <div class="modal">
            <div class="modal-content">
                <span class="close-button">&times;</span>
                <h2>Rename Task</h2>
                <form method="POST" action="{{ url_for('rename_task') }}">
                    <input type="hidden" value="{{t.task}}" name="task">
                    <input name="newTaskName" type="text" id="renameInput" placeholder="Enter new task name...">
                    <button type="submit" class="addBtn">Rename</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </ul>


</body>


</html>